<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form id="login">
        <input type="text" id="username" placeholder="email">
        <input type="text" id="password" placeholder="password">
        <button type="submit" onclick="submit()">submit</button>
    </form>
</body>
</html>

<script>
    document.getElementById("login").addEventListener('submit', async function(eve) {
        eve.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        
        const res = await fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({username, password})
        });

        if(res.ok){
            const data = await res.json();

            alert("done");
        }
        else{
            alert("not valid");
        }
    });

</script>